.site-nav .item {
    margin-right: 50px;
}

.site-nav .item:last-child {
    margin-right: 0;
}

.site-nav .link {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;

    color: var(--link-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    transition: color var(--timing), var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.current {
    position: relative;
}

.current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    top: 32px;
    border-radius: 2px;
    background-color: var(--accent-color);
    transition: opacity var(--timing), var(--timing-function);
    opacity: 0;
}

.current:hover::after,
.current:focus::after {
    opacity: 1;
}

.link-current:after  {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    left: 0;
    top: 32px;
    border-bottom: 2px solid var(--accent-color);
    opacity: 1;
}

.contacts {
    margin-left: auto;
}

.contact {
    margin-right: 30px;
    margin-top: 32px;
    margin-bottom: 32px;

    color: var(--primary-text-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color var(--timing), var(--timing-function);
}

.contact:last-child {
    margin-right: 0;
}

.contact:hover,
.contact:focus {
    color: var(--accent-color);
}

.icon-mail,
.icon-tel {
    fill: var(--primary-text-color);
    margin-right: 5px;
    vertical-align: middle;
}