.site-nav .item {
    margin-right: $margin-right-contact;
}

.site-nav .item:last-child {
    margin-right: $margin-right-last;
}

.site-nav .link {
    display: $display-block;
    margin-top: $margin-top-contact;
    margin-bottom: $margin-bottom-contact;

    color: $link-color;
    font-weight: $font-weight-medium;
    font-size: $font-size-contact;
    line-height: $line-height-contact;
    letter-spacing: $letter-spacing-contact;
    transition: color $timing, $timing-function;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: $accent-color;
}

.current {
    position: $position-r;
}

.current::after {
    content: $content;
    position: $position-a;
    display: $display-block;
    width: $width-contact;
    height: $height-contact;
    left: $left-contact;
    top: $top-contact;
    border-radius: $border-radius-2;
    background-color: $accent-color;
    transition: opacity $timing, $timing-function;
    opacity: $opacity;
}

.current:hover::after,
.current:focus::after {
    opacity: $opacity-a;
}

.link-current:after  {
    content: $content;
    position: $position-a;
    display: $display-block;
    height: $height-contact;
    left: $left-contact;
    top: $top-contact;
    border-bottom: $border-radius-2 solid $accent-color;
    opacity: $opacity-a;
}

.contacts {
    margin-left: $margin-left;
}

.contact {
    margin-right: $margin-left;
    margin-top: $margin-top-contact;
    margin-bottom: $margin-bottom-contact;

    color: $title-text-color;
    font-family: $font-family;
    font-weight: $font-weight-medium;
    font-size: $font-size-contact;
    line-height: $line-height-contact;
    letter-spacing: $letter-spacing-contact;
    font-style: $font-style;
    transition: color $timing, $timing-function;
}

.contact:last-child {
    margin-right: $margin;
}

.contact:hover,
.contact:focus {
    color: $accent-color;
}

.icon-mail,
.icon-tel {
    fill: $primary-text-color;
    margin-right: $margin-right-tel;
    vertical-align: $vertical-align;
}