.logo {
    width: $width-logo;
    margin-right: $margin-right-logo;
    margin-bottom: $margin-bottom-logo;

    color: $link-color;
    font-family: $font-family-logo;
    font-weight: $font-weight-bold;
    font-size: $font-size-logo;
    line-height: $line-height-logo;
}

.logo-blue {
    color: $accent-color;
}

.logo-black {
    color: $link-color;
}