$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$primary-white-color: #ffffff;
$link-color: #000000;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$timing: 250ms;
$display: flex;
$display-block: block;
$aligin-items: center;
$align-items-base: baseline;
$margin-left: auto;
$margin-right: auto;
$width: 1200px;
$padding-left: 15px;
$padding-right: 15px;
